-r requirements.txt

am4894pd==0.1.6
pip==19.3.1
bump2version==0.5.11
wheel==0.38.1
watchdog==0.9.0
flake8==3.7.9
tox==3.14.1
coverage==4.5.4
Sphinx==3.2.1
twine==3.2.0
sphinx-rtd-theme==0.4.3
jupyter==1.0.0
seaborn==0.9.0
ffmpeg-python==0.2.0
codecov==2.1.9

pytest==5.3.1
pytest-runner==5.2
pytest-cov==2.8.1
